<div class="container">

    <table class='table'>
        
        <!-- CABECERAS -->
        <tr>
          <th>Dilluns</th>
          <th>Dimarts</th>
          <th>Dimecres</th>
          <th>Dijous</th>
          <th>Divendres</th>
          <th>Dissabte</th>
        </tr>

        <!-- SEGUNDA FILA -->
        <tr>
          <td>
            <ul>
              <li>Soca</li>
              <li>Pagès</li>
              <li>Pa de coca</li>
              <li>Coca de sucre</li>
              <li>Baguette</li>
              <li>Pigat</li>
              <li>Rústic</li>
              <li>Tinosell</li>
            </ul>
          </td>  <!-- LUNES -->

          <td>
            <ul>
              <li>Soca</li>
              <li>Pagès</li>
              <li>Pa de coca</li>
              <li>Coca de sucre</li>
              <li>Baguette</li>
              <li>Pigat</li>
              <li>Rústic</li>
              <li>Tinosell</li>
            </ul>
          </td>  <!-- MARTES -->

          <td>
            <ul>
              <li>Soca</li>
              <li>Pagès</li>
              <li>Pa de coca</li>
              <li>Coca de sucre</li>
              <li>Baguette</li>
              <li>Pigat</li>
              <li>Rústic</li>
              <li>Tinosell</li>
            </ul>
          </td>  <!-- MIERCOLES -->

          <td>
            <ul>
              <li>Soca</li>
              <li>Pagès</li>
              <li>Pa de coca</li>
              <li>Coca de sucre</li>
              <li>Baguette</li>
              <li>Pigat</li>
              <li>Rústic</li>
              <li>Tinosell</li>
            </ul>
          </td>  <!-- JUEVES -->

          <td>
            <ul>
              <li>Soca</li>
              <li>Pagès</li>
              <li>Pa de coca</li>
              <li>Coca de sucre</li>
              <li>Baguette</li>
              <li>Pigat</li>
              <li>Rústic</li>
              <li>Tinosell</li>
            </ul>
          </td>  <!-- VIERNES -->

          <td>
            <ul>
              <li>Soca</li>
              <li>Pagès</li>
              <li>Pa de coca</li>
              <li>Coca de sucre</li>
              <li>Baguette</li>
              <li>Pigat</li>
              <li>Rústic</li>
              <li>Tinosell</li>
            </ul>
          </td>  <!-- SABADO -->
        </tr>

        <tr>
          <!-- TERCERA FILA -->
          <td><ul><li>Fajol</li></ul></td><!-- LUNES -->
          <td><ul><li>Fajol</li></ul></td>  <!-- MARTES -->
          <td><ul><li>Fajol</li></ul></td>  <!-- MIERCOLES -->
          <td><ul><li>Fajol</li></ul></td>  <!-- JUEVES -->
          <td><ul><li>Fajol</li></ul></td>  <!-- VIERNES -->
          <td><ul><li>Fajol</li></ul></td>  <!-- SABADO -->
        </tr>
        <tr>
          <!-- CUARTA FILA -->
          <td></td><!-- LUNES -->
          <td><ul><li>Espelta</li></ul></td>  <!-- MARTES -->
          <td><ul><li>Espelta</li><li>Croscat</li></ul></td>  <!-- MIERCOLES -->
          <td><ul><li>Espelta</li></ul></td>  <!-- JUEVES -->
          <td><ul><li>Espelta</li></ul></td>  <!-- VIERNES -->
          <td><ul><li>Espelta</li></ul></td>  <!-- SABADO -->
        </tr>
      
        <tr> <!-- QUINTA FILA -->
          <td></td><!-- LUNES -->
          <td><ul><li>Llonguet</li></ul></td>  <!-- MARTES -->
          <td><ul><li>Tanos</li></ul></td>  <!-- MIERCOLES -->
          <td><ul><li>Nanterra (Brioix)</li></ul></td>  <!-- JUEVES -->
          <td><ul><li>Bembo</li></ul></td> <!-- VIERNES -->
          <td><ul><li>Focaccies</li></ul></td> <!-- SABADO -->
        </tr>
      
        <tr> <!-- SEXTA FILA -->
          <td></td><!-- LUNES -->

          <td></td>  <!-- MARTES -->
          <td>
            <ul>
              <li>Olives</li>
            </ul>
          </td>  <!-- MIERCOLES -->
          <td><ul><li>Roughbrot</li></ul></td>  <!-- JUEVES -->
          <td><ul><li>Monococcum</li></ul></td> <!-- VIERNES -->
          <td><ul><li>Olives</li></ul></td> <!-- SABADO -->
        </tr>
      
        <tr> <!-- SEPTIMA FILA -->
          <td></td><!-- LUNES -->
          <td></td>  <!-- MARTES -->
          <td>
            <ul>
              <li>Bembo</li>
            </ul>
          </td>  <!-- MIERCOLES -->
          <td><ul><li>Brot Negre</li></ul></td>  <!-- JUEVES -->
          <td></td> <!-- VIERNES -->
          <td></td> <!-- SABADO -->
        </tr>

        <tr> <!-- OCTAVA FILA -->
          <td></td><!-- LUNES -->
          <td></td>  <!-- MARTES -->
          <td><ul><li>Bianya</li></ul></td>  <!-- MIERCOLES -->
          <td><ul><li>Pa d'Hamburguesa</li></ul></td>  <!-- JUEVES -->
          <td></td> <!-- VIERNES -->
          <td></td> <!-- SABADO -->
        </tr>
      
      </table>
      
      <br>
      
      <!-- WARNING -->
      <p><span>&#9888;</span> Poden haver petits canvis segons temporada.</p>

      <a href="/" class="btn btn-light" tabindex="-1" role="button">Tornar a la pàgina d'inici</a>
</div>

