<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-4 col-lg-4 col-xl-3 mx-auto">
            <!-- Content -->
            <img src="images/logo/logo2.svg" class="img-fluid" alt="La Fogaina">
             <p>
               <i class="bi bi-envelope me-3"></i>
               fornlafogaina@gmail.com
             </p>
             <p>
                <a href="https://www.instagram.com/fornlafogaina/?hl=es" target=”_blank” class="me-3 text-reset" style="text-decoration: none;">
                  <i class="bi bi-instagram"></i>
                  Segueix-nos 
                </a>
             </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-4 col-xl-2 mx-auto m-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Pa i Obrador</h6>
            <p><i class="bi bi-house-fill me-2"></i>
              <a href="/on-trobarnos#pa-i-obrador" style="text-decoration: none; color: #6c757d!important;">
                C/ Verge del Carme 13, Olot, La Garrotxa, Girona
              </a></p>
            <p></p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-4 col-xl-2 mx-auto m-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Pa i Cafè</h6>
            <p><i class="bi bi-house-fill me-2"></i>
              <a href="/on-trobarnos#pa-i-cafe" style="text-decoration: none; color: #6c757d!important;">
                C/ Sant Sebastià 52, Les Preses, La Garrotxa, Girona</p>
              </a>
          </div>
          <!-- Grid column -->
  
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
  </footer>
  <!-- Footer -->