
<nav class="navbar navbar-expand-md navbar-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="/images/new_logo.png" height="80" alt="La Fogaina">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="تبديل التنقل">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Inici</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/qui-som">Qui Som</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Forn</a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" href="/pans">Pans</a></li>
            <li><a class="dropdown-item" href="/panologia">Panologia</a></li>
            <li><a class="dropdown-item" href="/disponibilitat">Disponibilitat</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cafeteria">Cafeteria</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Contacte</a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" href="/on-trobarnos">On trobar-nos</a></li>
            <li><a class="dropdown-item" href="/on-mes-trobar-nos">On més trobar-nos</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
  