<div class="container">
    
    <p>
        Podeu trobar alguns dels nostres productes a:
        <ul>
          <li>Cooperativa La Xicoina</li>
          <li><a href="http://cooperativarauta.blogspot.com.es" target="_blank">Cooperativa La Rauta</a></li>
          <li><a href="https://www.nuriasocial.org" target="_blank">Cantina Núria Social</a></li>   
          <li>Aliança RESTAURANT</li> 
          <li>Primera Planta Green Kitchen</li> 
          <li><a href="https://www.google.com/search?client=ms-android-samsung-rev2&source=sh/x/kp/local/2&sxsrf=ALiCzsZjYyAyeD1PLwpxgla5xyZN4QuzEw:1669313421438&q=Restaurant+Els+Cat%C3%B2lics&ludocid=10710989670183678805&gsas=1&client=ms-android-samsung-rev2&ibp=gwp;0,7&lsig=AB86z5VPUl9bjtsT3fD7rc0wdg07&shem=lssle&kgs=a6d3ac0319910762&shndl=-1&entrypoint=sh/x/kp/local" target="_blank">Restaurant Els Catòlics</a></li> 
        </ul>
      </p>

</div>


