<div class="container">
    
    <p>
        Podeu trobar alguns dels nostres productes a:
        <ul>
          <li>Cooperativa La Xicoina</li>
          <li><a href="http://cooperativarauta.blogspot.com.es" target="_blank">Cooperativa La Rauta</a></li>
          <li><a href="https://www.nuriasocial.org" target="_blank">Cantina Núria Social</a></li>   
          <li>Aliança RESTAURANT</li> 
        </ul>
      </p>

</div>


