<div class="container">
  <div class="row m-4">
    <div class="col-md-4">
      <div class="panel">
        <h4 id="pa-i-cafe">La Fogaina Pa i Cafè</h4>
        <p>
          <i class="bi bi-house"> Carrer Sant Sebastià nº52, Les Preses, Girona</i
          ><br /><i class="bi bi-telephone"> 646 87 90 62</i>
        </p>
        <table class="table">
          <tr>
            <th>Horari</th>
            <th>Matí</th>
            <th>Tarda</th>
          </tr>
          <tr>
            <td>Dilluns</td>
            <td>Tancat</td>
            <td>Tancat</td>
          </tr>
          <tr>
            <td>Dimarts</td>
            <td>8h-13:00h</td>
            <td>16h-20h</td>
          </tr>
          <tr>
            <td>Dimecres</td>
            <td>8h-13:00h</td>
            <td>16h-20h</td>
          </tr>
          <tr>
            <td>Dijous</td>
            <td>8h-13:00h</td>
            <td>16h-20h</td>
          </tr>
          <tr>
            <td>Divendres</td>
            <td>8h-13:00h</td>
            <td>16h-20h</td>
          </tr>
          <tr>
            <td>Dissabte</td>
            <td>8h-13:00h</td>
            <td>16h-20h</td>
          </tr>
          <tr>
            <td>Diumenge</td>
            <td>Tancat</td>
            <td>Tancat</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="col-md-8">
      <div class="map-fogaina">
        <iframe
          title="map"
          class="responsive-iframe"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2958.192843809303!2d2.4581033154084873!3d42.14615995657543!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a534c9267799b7%3A0x1ca1e342e06d6353!2sLa+Fogaina!5e0!3m2!1ses!2ses!4v1467997119084"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
  <div class="row m-4">
    <div class="col-md-4">
      <div class="panel">
        <h4 id="pa-i-obrador">La Fogaina Pa i Obrador</h4>
        <p>
          <i class="bi bi-house"> Carrer Verge del Carme nº13, Olot, Girona</i>
          <br />
          <i class="bi bi-telephone"> 621 20 58 06</i> /
          <i class="bi bi-telephone"> 872 20 29 15</i>
        </p>
        <table class="table">
          <tr>
            <th>Horari</th>
            <th>Matí</th>
            <th>Tarda</th>
          </tr>
          <tr>
            <td>Dilluns</td>
            <td>8:30h-13:00h</td>
            <td>Tancat</td>
          </tr>
          <tr>
            <td>Dimarts</td>
            <td>8:30h-13:00h</td>
            <td>17h-20h</td>
          </tr>
          <tr>
            <td>Dimecres</td>
            <td>8:30h-13:00h</td>
            <td>17h-20h</td>
          </tr>
          <tr>
            <td>Dijous</td>
            <td>8:30h-13:00h</td>
            <td>17h-20h</td>
          </tr>
          <tr>
            <td>Divendres</td>
            <td>8:30h-13:00h</td>
            <td>17h-20h</td>
          </tr>
          <tr>
            <td>Dissabte</td>
            <td>8:30h-13:00h</td>
            <td>Tancat</td>
          </tr>
          <tr>
            <td>Diumenge</td>
            <td>Tancat</td>
            <td>Tancat</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="col-md-8">
      <div class="map-fogaina">
        <iframe
          title="map"
          class="responsive-iframe"
          src="https://maps.google.com/maps?width=100%&height=600&hl=es&coord=42.183413, 2.491903&q=Verge%20del%20Carme%2C%2013%20Olot%2C%20Girona%2C%20Spain+(La%20Fogaina%20Pa%20i%20Obrador)&ie=UTF8&t=&z=15&iwloc=B&output=embed"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</div>
