<div class="container">

  <p>
    Quan ens pregunten per què és diferent el nostre pa, sempre hi ha uns segons
    de silenci... Per on començo? 
  </p>
  <p>
    El mateix em passa ara davant del paper... Fa
    dies em van demanar que expliqués 'el pa', el pa de la Fogaina, allò que té
    de diferent o d'important, del nostre treball diari ...
  </p>

  <p>
    No és que fem una
    cosa extraordinària, fora del que és normal, només fem pa, però potser si
    que cal deixar clar quin és el camí que hem decidit prendre, com treballem,
    perquè els que us acosteu a La Fogaina entengueu una mica millor què esteu
    comprant.
  </p>

  <p>
    De cada punt que tractaré d'explicar a continuació se'n podria
    escriure un llibre (o uns quants), però intentarem resumir cada un d'aquests
    'pilars' sobre els quals se sosté la filosofia del treball a La Fogaina.
  </p>
  
  <h3>Farines i mòltes</h3>
  <p>
    El gra del cereal es compon de tres parts: segó, midó i germen. En el midó
    hi ha les proteïnes: el gluten, és la part blanca. El segó és la part
    exterior, la fibra, i el germen és la part interior, plena de vida, on
    trobem vitamines i minerals. Consumit en la seva totalitat és un aliment
    bàsic en la nostra dieta que ens aporta importants propietats. La humanitat
    fa milers d'anys que consumim les tres parts del gra, però des de fa poc més
    de 50 anys el consum de farina blanca -industrial, refinada- s'ha convertit
    en un dels ingredients més consumits en el dia a dia de la majoria de
    famílies. Aquestes farines industrials blanquíssimes, que es produeixen amb
    els moderns molins de cilindres, no contenen ni segó ni germen. Certament,
    sembla que la malaltia celíaca i les intoleràncies, en són el resultat. En
    canvi, els molins de pedra, per la seva forma de moldre el gra, produeixen
    una farina amb un alt percentatge de nutrients, i per bé que, després,
    aquesta farina la passin per uns sedassos per aconseguir una farina menys
    integral, sempre contindrà part del segó i del germen. És per això que els
    nostres pans 'blancs' són d'un color cremós. Després també hi ha les
    diferents varietats de blats, algunes d'antigues, que s'han aconseguit
    conservar fins a l'actualitat, varietats com la famosa espelta, el kamut o
    blat del cor, o algunes més locals com la xeixa. Quan consumim aquestes
    varietats, ecològiques, i de molins de pedra, no només ens aporten salut,
    sinó que a més a més contribuïm a la protecció del medi ambient, a la
    conservació de llavors i a la riquesa de la biodiversitat i a la sobirania
    alimentària.
  </p>
  <h3>Massa mare</h3>
  <p>
    La massa mare natural és un cultiu salvatge i espontani de llevats i de
    bacteris en base a farina i aigua. És la manera ancestral de llevar les
    masses, amb l'afegit del valor cultural que té crear la teva pròpia massa
    mare i guardar-la fins i tot per a tota la teva vida (i potser deixar-la en
    herència als teus néts!). És l'ànima d'una fleca, una més a l'obrador, la
    qual cal entendre-la, cuidar-la, alimentar-la, conservar-la, gairebé podríem
    dir que és una especialitat dins del món del forn de pa. La massa mare ens
    aportarà al pa conservació, sabor, aroma, una millor digestió... i aquest
    punt d'acidesa tan particular. És important que no confonguem la massa mare
    natural amb l'anomenada massa vella, una part de la massa de pa que es
    conserva del dia anterior.
  </p>
  <h3>Fermentació</h3>
  <p>
    Es tracta de treure el màxim sabor del cereal. Està bé afegir a un pa
    llavors, fruits secs i el que ens passi pel cap, per fer d'un producte
    quotidià un producte més especial a la taula. Però, com a panarra, amb el
    que més es gaudeix és amb el PA, ja sigui de blat o de sègol. Ens agrada
    doncs, que la massa per si sola doni com a resultat un pa amb gust a cereal
    i a fermentació. Per aconseguir això és fonamental no escurçar els temps de
    fermentació i si pot ser allargar-los el màxim possible. D'aquesta manera, a
    més d'extreure tot el sabor a cereal, també n'augmentem la conservació i,
    molt important, la bona digestió del pa.
  </p>
  <h3>Forn</h3>
  <p>
    Al principi, vam començar amb un forn de llenya, molt romàntic, però molt
    dur. Això si, va ser un gran aprenentatge. Al fer el canvi d’obrador vam
    estar plantejant-nos quin tipus de forn volíem, i després d’estudiar-ho vam
    decidir-nos per un forn elèctric. De pisos. Segueix tenint la solera de
    pedra com els d'abans, però ens permet controlar molt millor la temperatura
    i la humitat. Així, podem donar-li a cada pa les condicions que necessita
    segons el tipus de massa que busquem per a millor i perfeccionar la seva
    cuita. A més estem amb una companyia elèctrica 100% verda, i això ens donava
    el plus de que ara si que podem dir que el nostre pa és ecològic, ja que no
    només ho són els seus ingredients, sinó l’energia amb la que el coem. Sense
    emetre gasos d’efecte hivernacle. I no menys important, ara podem dormir
    tres hores més. Abans enceníem el forn a les dues per a poder enfornar a les
    4:30. Actualment i gràcies al temporitzador, quan arribem a les 4:30, ja
    està el forn a punt per a enfornar. Això ens dóna més qualitat de vida als
    forners, i segur que també repercuteix al pa que fem!! Aquests quatre punts
    són els pilars sobre els quals es basa el treball, el mètode i la filosofia
    del pa de La Fogaina, els quals ens exigeixen donar el màxim cada dia per
    aconseguir una regularitat que acceptem com un repte diari, un procés
    d'aprenentatge continu. És un camí dret, sense dreceres que posin en dubte
    la qualitat del nostre producte. Sabem amb quina matèria primera treballem,
    i amb quin mètode creiem, perquè respectem el nostre ofici.
  </p>
  <p>
    <a href="/" class="btn btn-light" tabindex="-1" role="button">Tornar a la pàgina d'inici</a>
</p>
</div>
