<div class="container">

  <div class="row row-cols-1 row-cols-md-3 g-4">

    <% for (var panes in data){ %> 
        <% for (var pan in data[panes]){ %> 
            <div class="col">
                <div class="card">
                    <%- include('pan/show', { pan: data[panes][pan] } ); %>
                </div>
            </div>
        <% } %> 
    <% } %>

  </div>

</div>
