<div class="container">
    <p>
        Avui, La Fogaina som un col·lectiu de 5 socis que treballem de forma cooperativa i assembleària. Va nèixer en un primer moment d'una necessitat econòmica familiar, la necessitat de sortir de la precarietat laboral i aconseguir una estabilitat que feia temps que no teníem. Acabàvem d'aterrar a la Garrotxa, era el 2011 i just llavors vaig descobrir una passió que no sabia que tenia, fer pa.
    </p>
    <p>
        Recordo amb un somriure els primers dies que vaig començar a indagar en aquest món panarra, sobretot via internet, visitant fòrums, webs i vídeos; al·lucinava amb la quantitat de tècniques i mètodes que existien, que no podia evitar provar, i convertia la cuina de casa a qualsevol hora del dia o de la nit en el laboratori d'un alquimista boig. Va ser quan vaig fer la nostra primera massa mare natural, que encara avui ens acompanya cada dia a la feina. No negaré que el salt de forner casolà a professional va ser una bogeria, un gran pas on hi ha massa aspectes que no controles i no els veus venir fins que te'ls trobes de cop. No vinc d'una família de forners, ni he estudiat a l'escola de flequers Allò que realment necessitava, com poder formar-me a l'estranger on sí que considerava que hi havia bon pa i bones escoles, ja se'm feia molt difícil: arrossegar a tota la família a França, o Alemanya, sense idioma, sense diners, a estudiar en escoles normalment bastant cares ... Així que gairebé que no ens va quedar més remei que tirar-nos-hi de cap ... sense saber nedar, sense flotador ni braçals ... gairebé ens ofeguem. És un ofici dur i el camí escollit no és el més fàcil, però ens mantenim a flotació , i les aigües ja van més tranquil·les. Sort de la quantitat de gent que pel camí ens ha ajudat, de moltes maneres, sense ells no ho hauríem aconseguit. Sona tòpic, però és cert.
    </p>
    <p>
        Tanmateix i sobretot, el que més ens ha importat ha estat la qualitat del nostre producte. Sempre ens hem preocupat per aprendre i millorar, i per això hem visitat i conegut forners i fleques que ens han aportat tècniques, mètodes, il·lusió i passió per l'ofici. Com la petita fleca regentada per un sol forner, l'Stephane, un projecte preciós del sud de França del qual gairebé vam ser un mirall durant els dos primers anys: farines ecològiques, massa mare, forn de llenya i un procés molt manual. També, vam tenir la sort de visitar The loaf, un projecte de fleca efímera a Donosti, amb Dan Lepard al capdavant, un forner molt experimentat i millor persona. Ens van obrir les portes a poder treballar 3 dies braç a braç a l'obrador, va ser màgic i increïble, l'oportunitat de pastar, formar i enfornar desenes de pans, viure el ritme real d'un obrador, compartir xerrades amb autèntics cracs com el mateix Dan i els forners que treballaven allà: Iban Yarza, amb qui hem coincidit altres vegades; Pablo Conesa, de Sevilla, que estava de visita, molts panarres casolans..., un autèntic luxe.
    </p>
    <p>
        A poc a poc, ha anat entrant gent nova al projecte, al principi per aprendre i ajudar a l'obrador, després per muntar la fleca-cafeteria al poble i de seguida, per afegir el punt dolç que ens faltava. És aquest un moment important en la nostra petita història, quan vam decidir, amb dues famílies més, convertir La Fogaina, en un projecte cooperatiu, on 5 socis decidim de manera assembleària el nostre futur, tot gestionant l'obrador i la fleca-cafeteria amb l'objectiu de mantenir i millorar la nostra qualitat i la nostra producció, i tenir una feina i sou dignes. Ens hi anem acostant. Quan decideixes convertir un projecte familiar en un projecte cooperatiu assumeixes que comences a treballar en equip, sumant i aportant idees i energia al projecte, i això dóna força i moral en els moments difícils.
    </p>
    <p>
        Estem molt orgullosos del que hem aconseguit fins ara, treballem dur i tenim un producte honest i saludable. La Fogaina és una suma dels qui la formem, de manera que és més viva que mai. Sembla clar que, com fa cada dia la nostra massa mare, continuarem creixent, amb noves idees i encara més sorpreses. Esperem que gaudiu dels nostres productes, del nostre espai i del nostre tracte…
    </p>

    <div class="video-fogaina">
        <iframe class="responsive-iframe" src="https://www.youtube.com/embed/qC_hegFxyb4" title="Forn la Fogaina, Cooperativa" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <a href="/" class="btn btn-light mt-4" tabindex="-1" role="button">Tornar a la pàgina d'inici</a>

</div>

