<div class="container">
  <div
    id="carouselExampleIndicators"
    class="carousel slide mb-4"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="3"
        aria-label="Slide 4"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="4"
        aria-label="Slide 5"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="5"
        aria-label="Slide 6"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="6"
        aria-label="Slide 7"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="7"
        aria-label="Slide 8"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="8"
        aria-label="Slide 9"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="9"
        aria-label="Slide 10"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="10"
        aria-label="Slide 11"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="11"
        aria-label="Slide 12"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="12"
        aria-label="Slide 13"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="13"
        aria-label="Slide 14"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="14"
        aria-label="Slide 15"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="15"
        aria-label="Slide 16"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="images/slideshow/1000x600workers/colla_guay.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="images/slideshow/1000x600workers/panaderia_grupo.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="images/slideshow/1000x600workers/chicas.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="images/slideshow/1000x600workers/chica3.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="images/slideshow/1000x600workers/chica2.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="images/slideshow/1000x600workers/chica.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="images/slideshow/1000x600workers/angelillo.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="images/slideshow/1000x600workers/diana.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="images/slideshow/1000x600workers/joana.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="images/slideshow/1000x600workers/emili.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="images/slideshow/1000x600workers/chico.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="images/slideshow/1000x600workers/chica4.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="images/slideshow/1000x600workers/chico2.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="images/slideshow/1000x600workers/panaderos.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="images/slideshow/1000x600workers/moreno.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="images/slideshow/1000x600workers/colla_inicios.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <p>
    Aquest any la Fogaina ja té 10 anys de vida!
Va néixer en un primer moment d'una necessitat econòmica familiar de sortir de la precarietat laboral i aconseguir una estabilitat econòmica. 
  </p>
  <p>
    Va ser al 2011, quan la família de l’Àngel i la Emma acabaven d'aterrar a la Vall d’en Bas. Va començar com un projecte familiar, on ells van tirar-se a la piscina de muntar un forn de llenya i un obrador amb botiga per a poder treure’s un sou.
Mica en mica, i no de forma fàcil, van anar aprenent l’ofici i consolidant les bases de la Fogaina.
  </p>
  <p>
    Al cap d’un parell d’anys van incloure al projecte a un parell de famílies més (La Diana i La Joana i l’Emili). I amb l’energia de nous membres vam decidir ampliar l’obrador i muntar una botiga a les Preses.
I... Ja que muntem una botiga, que sigui cafeteria, i...Podríem vendre-hi productes eco d’altres companyes? I...Podríem fer-hi xerrades? I un  lloc per a que hi jugui la mainada!!... i, i , i ...embolica que fa fort!!
  </p>
  <p>
    Sense adonar-nos-en, i amb tota la força dels principis anàvem creixent, tant en coneixements, com en infraestructures, clients,...
De cop i volta vam veure que al paller del Mas la Plana, on va començar tot, ja no hi cabíem. I finalment vam fer el pas de buscar un local on muntar el nou obrador.
... I ja que hi som... doncs fem-hi botiga també!
  </p>
  <p>
    Amb el temps l’equip ha anat creixent, i els coneixements i la qualitat també.
Actualment som una quinzena de treballadors i treballadores.
Tot i que el projecte a crescut bastant, podem dir ben contents que la qualitat del producte també a anat creixent amb nosaltres i que la qualitat laboral també.
I si, ja han passat deu anys i sembla que el somni d’un treball digne i que aporti alguna cosa bonica a la societat s’està aconseguint.  Poder decidir de manera assembleària el nostre futur, tot gestionant l'obrador i la fleca-cafeteria amb l'objectiu de mantenir i millorar la nostra qualitat i la nostra producció, i tenir una feina i sou dignes, ja comença a ser una realitat.
Ja han passat moltes persones per la Fogaina. Agraïts a totes elles perquè som la suma de tot el que totes elles han anat aportant al llarg dels anys. 
  </p>
  <p>
    I evidentment moltes gràcies també a la rebuda i suport que ens doneu totes les persones que passeu per les nostres botigues sigui a fer un cafè, comprar pa o saludar!

Estem molt contents del que hem aconseguit fins ara, treballem dur i tenim un producte honest i saludable.
Tenim ganes de fer servir la fleca com un lloc d'incidència social i política. Un trampolí per a fer petits canvis com el consum responsable, la producció amb ingredients locals o de proximitat, col·laborar amb entitats que ajuden directament a les persones més vulnerables, promoure la pagesia local,... d’idees i ganes n’hi han moltes. I oberts a les que vinguin. 
I que ho fem possible és gràcies a vosaltres!!
  </p>
  <p>
    Esperem que gaudiu dels nostres productes, del nostre espai i del nostre tracte.
  </p>

  <div class="video-fogaina">
    <iframe
      class="responsive-iframe"
      src="https://www.youtube.com/embed/qC_hegFxyb4"
      title="Forn la Fogaina, Cooperativa"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>

  <a href="/" class="btn btn-light mt-4" tabindex="-1" role="button"
    >Tornar a la pàgina d'inici</a
  >
</div>
